/* body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

/* header */
.header-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;

  margin-right: 76px;
}

.studio-span {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ul-header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-header {
  display: flex;
}

.ul-header .item:not(:last-child),
.ul-adress .item:not(:last-child) {
  margin-right: 40px;
}

.ul-header .ul-header-link:hover,
.ul-header .ul-header-link:focus {
  color: #404bbf;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.gheader-adres {
  font-style: normal;
}

.ul-adress-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-adress {
  display: flex;
}

.ul-adress .ul-adress-link:hover,
.ul-adress .ul-adress-link:focus {
  color: #404bbf;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.flexnav {
  display: flex;
  align-items: center;
}

.flexheader {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.bord-hed {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.current-page {
  position: relative;
  color: #404bbf;
}

.current-page::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  display: inline-block;
}

/* section button */

.section-button {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpeg);
  max-width: 1440px;
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}

.page-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.button-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-title:hover,
.button-title:focus {
  background-color: #404bbf;
}

.button-text {
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover {
  color: #fff;
}

/* section advantages*/

.ul-advantages .title-advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul-advantages .text-advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ul-advantages {
  display: flex;
  gap: 24px;
}

.item-advantages {
  width: calc((100% - 72px) / 4);
}

.container-icon-advantages {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}

/* section dream team   */

.section-dream-team {
  text-align: center;
  background-color: #f4f4fd;
}

.title-section {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.ul-dream-team .title-dream-team {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.ul-dream-team .text-dream-team {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.ul-dream-team .list-item-dream-team {
  background-color: #fff;
}

.title-dream-team {
  margin-bottom: 8px;
}

.ul-dream-team {
  display: flex;
  gap: 24px;
}

.container-dreamteam {
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-item-dream-team {
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.dreamteam-list-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.content-main-dreamteam {
  margin-bottom: 12px;
}

.item-dream-team {
  width: 40px;
  height: 40px;
}

.link-container-dreamteam {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-container-dreamteam:hover,
.link-container-dreamteam:focus {
  background-color: #404bbf;
}

.icon-dream-team {
  fill: #f4f4fd;
}

/* section Our Portfolio */

.title-section-portfolio {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ul-portfolio .title-portfolio {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.ul-portfolio .ul-text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.container-portfolio {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  background: #fff;

  padding: 32px 16px;
}

.container-portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: #4d5ae5;
  color: var(--CLOUD, #f4f4fd);
  padding: 40px 32px;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container-portfolio-item:hover .overlay {
  transform: translateY(0);
}

/* footer */
.footer-page {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-span {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-bottom: 16px;
  display: inline-block;
}

.social-media-footer {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.container-icon-footer {
  display: flex;
}

.list-icon {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.main-foot-content {
  display: flex;
  align-items: baseline;
}

.soc-cont {
  display: flex;
  flex-direction: column;
}

.foot-container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.foot-icon-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.icon-foot {
  fill: var(--color3, #f4f4fd);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-foot:hover {
  fill: #f4f4fd;
}

.main-content-footer {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.no-main-content-footer {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.list-item-footer {
  width: 40px;
  height: 40px;
}

.link-footer-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-svg:hover,
.link-footer-svg:focus {
  background-color: #31d0aa;
}

.foot-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
  margin-left: 80px;

  display: flex;
}

.container-foot-form {
  display: flex;
  gap: 24px;
  margin-left: 80px;
  justify-content: center;
}

.input-foot {
  border: 1px solid white;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2e2f42;
}

.button-foot {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  display: flex;
  gap: 16px;
}

.icon-form-foot {
  fill: #fff;
}

.subs-foot {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
}

input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: white;
  padding: 8px 16px;
}
